In [ ]:
##QUESTION 1

In [6]:
s=input("Enter a string: ")
print(s[::2])

Enter a string: Shambhavi
Sabai

In [ ]:
##QUESTION 2

In [8]:
list=[]
n = int(input("Enter number of elements : "))
for i in range(0, n):
    element = int(input())
 
    list.append(element)

print(list[1::2])

Enter number of elements : 4
1
2
3
4
[2, 4]

In [ ]:
##QUESTION 3

In [15]:
List1=[15,47,68,89,35,13]
n=6
for i in range (n):
    for j in range(i + 1, n):
        if(List1[i] > List1[j]):
            temp = List1[i]
            List1[i] = List1[j]
            List1[j] = temp
            
            
print("Sorted list is:")
print(List1)

Sorted list is:
[13, 15, 35, 47, 68, 89]

In [ ]:
##QUESTION 4

In [26]:
i=1
for i in range(1,7):
  for j in range(1,i):
     print(j,end="")
  print()
  print()

1

12

123

1234

12345

In [ ]:
##QUESTION 5

In [36]:
number=int(input('Enter a four digit number:'))
if str(number)[::-1]==str(number):
  print("Number is a Pallindrome")
else :
   print('Number is not a Pallindrome')

Enter a four digit number:5665
Number is a Pallindrome

In [ ]:
##QUESTION 6

In [45]:
list1=[3,15,67,98,7,57]
list2=[7,6,8,10,93,88]

for i in list1:
  if i%2==0:
    list1.remove(i)
            
for j in list2:
  if j%2!=0:
     list2.remove(j)
        
        
print(list1 + list2)

[3, 15, 67, 7, 57, 6, 8, 10, 88]

In [ ]:
##QUESTION 7

In [46]:
def exponent(base,exp):
    return pow(base,exp)


base=int(input('Enter a base:'))
exp=int(input('Enter a exponent:'))

ans=exponent(base,exp)
print(ans)

Enter a base:4
Enter a exponent:3
64

In [ ]:
##QUESTION 8

In [68]:
def digit(num):    
    
    global count
    if (num != 0):
        count +=1
        digit(num // 10)
    return count
count=0
number=int(input('Enter a number:'))

print("Number of digits:",digit(number))

Enter a number:5568
Number of digits: 4

In [ ]:
##QUESTION 9

In [70]:
s='The red bag has 10 red pens'
num=s.count('red')
print(s.replace('red','blue',num))

The blue bag has 10 blue pens

In [ ]:
##QUESTION 10

In [5]:
def choice1(n):
    sum=0
    for i in range(1,n+1):
        sum+=pow(1,i)/i
        
    return sum

def choice2(n):
    
    sum=3/6
    for i in range(1,n-2):
        sum+=(i+(i+1)+(i+3))/(i*(i+1)*(i+3))
        
    return sum


number=int(input('Enter a number:'))
choice=int(input('Enter a Your choice for series either 1 or 2:'))

if choice==1:
    print(choice1(number))
else:
    print(choice2(number))

Enter a number:3
Enter a Your choice for series either 1 or 2:2
0.5

In [ ]:
##QUESTION 11

In [7]:
from collections import Counter
word=input("Enter a string:")
res = Counter(word)
print (str(res))

Enter a string:Mississippi
Counter({'i': 4, 's': 4, 'p': 2, 'M': 1})

In [ ]:
##QUESTION 12

In [18]:
string=input("Enter a string:")
new_string = ''.join(char for char in string if char.isalnum())+ " "
print(new_string)

Enter a string: Hello@World#How are(! you? *&
HelloWorldHowareyou

In [ ]:
##QUESTION 12

In [20]:
string=input("Enter a string:")
special_char = '@_!#$%^&*()<>?/\|}{~:;[]'
for i in special_char:
    string = string.replace(i, ' ')
print('New string:', string)

Enter a string:Hello@World#How are(! you? *&
New string: Hello World How are   you

In [ ]:
##QUESTION 13

In [22]:
str1 = input("Enter a string:")
substrings = str1.split("-")
for sub in substrings:
    print(sub)

Enter a string:Python-is-a-programming-language
Python
is
a
programming
language

In [ ]:
##QUESTION 14

In [1]:
def mix(s1, s2):
    first = s1[:1] + s2[:1]
    middle = s1[int(len(s1) / 2):int(len(s1) / 2) + 1] + s2[int(len(s2) / 2):int(len(s2) / 2) + 1]
    last = s1[len(s1) - 1] + s2[len(s2) - 1]
    ans = first + middle + last
    print(ans)
    
str1 = input("Enter a string1:")
str2 = input("Enter a string2:")
mix(str1,str2)

Enter a string1:Hello
Enter a string2:World
HWlrod

In [ ]:
##QUESTION 16

In [2]:
def Reverse(tuples):
    new_tup = tuples[::-1]
    return new_tup
      

tuples = (10, 20 , 30 , 40, 50)
print(Reverse(tuples))

(50, 40, 30, 20, 10)

In [ ]:
##QUESTION 17

In [5]:
T= (11, [22, 33], 44, 55)
x=list(T)
x[1][0]=222
print(tuple(x))

(11, [222, 33], 44, 55)

In [ ]:
##QUESTION 18

In [9]:
T = ('a' , 'b' ,'c' , 'a', 'e', 'a' , 'b' , 'e' ,'o')
if '50' in T:
  print("Yes", T.count('50'))
else:
  print("Doesn't Exist")

Doesn't Exist

In [ ]:
##QUESTION 19

In [11]:
def common(set1,set2):
    a_set=set(set1)
    b_set=set(set2)
    if len(a_set.intersection(b_set)) > 0:
        return(a_set.intersection(b_set)) 
    else:
        return("no common elements")

set1 = [10, 20, 30, 40, 50]
set2 = [30, 40, 50, 60, 70]
print(common(set1,set2))

{40, 50, 30}

In [ ]:
##QUESTION 20

In [12]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{40, 50}

In [ ]:
##QUESTION 21

In [13]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [ ]:
##QUESTION 22

In [20]:
sampleList = [87, 45, 41, 65, 94, 41, 99, 94]
print("List:",list(set(sampleList)))
print("Tuple:",tuple(set(sampleList)))
print("Min:",min(tuple(set(sampleList))))
print("Max:",max(tuple(set(sampleList))))

List: [65, 99, 41, 45, 87, 94]
Tuple: (65, 99, 41, 45, 87, 94)
Min: 41
Max: 99

In [ ]:
##QUESTION 26

In [6]:
def return_key(val):
    for key, value in dict1.items():
        if key==val:
            return value
    return('Key Not Found')


dict1 = {
 "name": "Arman",
 "age":21,
 "salary": 80000,
 "city": "Ranchi",
 "country": "India"
}
    
print(return_key("name"))
print(return_key("salary"))

Arman
80000

In [7]:
dict1 = {
 "name": "Arman",
 "age":21,
 "salary": 80000,
 "city": "Ranchi",
 "country": "India"
}


dict1.pop("age");
dict1.pop("country");
print(dict1);

{'name': 'Arman', 'salary': 80000, 'city': 'Ranchi'}

In [10]:
dict1 = {
 "name": "Arman",
 "age":21,
 "salary": 80000,
 "city": "Ranchi",
 "country": "India"
}
new_key="location"
old_key="city"
dict1[new_key] = dict1. pop(old_key)
        
print(dict1)

{'name': 'Arman', 'age': 21, 'salary': 80000, 'country': 'India', 'location': 'Ranchi'}

In [ ]:
##QUESTION 24

In [11]:
def decToBinary(n):
    binaryNum = [0] * n;
    i = 0;
    while (n > 0):
        binaryNum[i] = n % 2;
        n = int(n / 2);
        i += 1;
    for j in range(i - 1, -1, -1):
        print(binaryNum[j], end = "");
        
number=int(input('Enter a number:'))
decToBinary(number);

Enter a number:7
111

In [ ]:
##QUESTION 25

In [17]:
import random 
n = random. randint(0,101) 
number=int(input('Enter a number:'))
award=0
if number==n:
    award+=10000
a=n%10
b=n/10
a1=number%10
b2=number/100
if (a==a1 or a==b2)and(b==a1 or b==b2):
    award+=3000
if (a==a1 or a==b2) or (b==a1  or b==b2):
    award+=1000
    
    
print(award)

Enter a number:100
0

In [ ]:
##QUESTION 23

In [23]:
def merge(list1, list2):
      
    merged_list = tuple(zip(list1, list2)) 
    return merged_list
      

FirstList= [2, 3, 4, 5, 6, 7, 8]
SecondList =[4, 9, 16, 25, 36, 49, 64]

print(set(merge(FirstList,SecondList)))

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}